### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [69]:
# Dependencies and Setup
import pandas as pd
import numpy as np 

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [229]:
purchase_data.groupby(["SN", "Gender"]).sum().groupby("Gender").mean()

                       Purchase ID        Age     Item ID     Price
Gender
Female                  529.259259  29.777778  119.246914  4.468395
Male                    528.762397  30.871901  125.987603  4.065372
Other / Non-Disclosed   456.272727  33.000000  110.181818  4.562727

## Player Count

* Display the total number of players

In [285]:
Total_players= len(purchase_data["SN"].value_counts())
player_demo=purchase_data.loc[:,["Gender", "SN", "Age"]].drop_duplicates() 
num_players=player_demo.count()[0] 
num_players

print(f"Total Number Of Players = {Total_players}") 

players_df= pd.DataFrame(data=[Total_players]) 
players_df.columns = ["Total Players"]
players_df

Total Number Of Players = 576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [274]:
unique_items= len(purchase_data["Item ID"].unique())
average_price= purchase_data["Price"].mean()
total_purchases=purchase_data.shape[0] 
revenue= purchase_data["Price"].sum() 

list=[unique_items, average_price, total_purchases, revenue]

frame_df= pd.DataFrame(data=[list]) 
frame_df.columns = ({"Number of Unique Items": [unique_items],
                     "Average Price": [average_price],
                     "Number of Purchases": [total_purchases], 
                     "Total Revenue":[revenue]}) 
frame_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [283]:
Gender_count=player_demo["Gender"].value_counts()
Gender_percentage= (Gender_count/ num_players)
Gender_df = pd.concat ([Gender_count, Gender_percentage], axis=1)
Gender_df.columns = ["Total Count", "Percentage"]
Gender_df.style


## Purchasing Analysis (Gender)

In [261]:
purchase_count = purchase_data["Gender"].value_counts()  
Average_Purchase_Price =purchase_data.groupby("Gender") 
Average_Purchase_Price

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [284]:
purchase_count = purchase_data["Gender"].value_counts()  
Average_Purchase_Price = round(purchase_data.groupby(["Gender"]).mean()["Price"], 2)
Average_Purchase_Price = '$' + Average_Purchase_Price.astype(str)
Total_Purchase_Value = purchase_data.groupby(["Gender"]).sum()["Price"] 


Average_Purchase_Total = Total_Purchase_Value / Gender_df["Total Count"] 


Total_Purchase_Value = '$' + Total_Purchase_Value.astype(str)
Average_Purchase_Total = '$' + Average_Purchase_Total.astype(str)

purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Price":Average_Purchase_Price,"Total Purchase Value": Total_Purchase_Value,"Avg Total Purchase Per Person": Average_Purchase_Total})
purchasing_analysis_df

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase Per Person
Female,113,$3.2,$361.93999999999966,$4.4683950617283905
Male,652,$3.02,$1967.6399999999994,$4.065371900826445
Other / Non-Disclosed,15,$3.35,$50.190000000000005,$4.562727272727273

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [252]:
Ages = [10, 14, 19, 24, 29, 34, 39, 40, 1000]
Group_Names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] 


Age_Series = pd.cut(purchase_data.groupby("SN")["Age"].mean(), Ages, labels=Group_Names).value_counts()


Age_Percent = round(Age_Series / Age_Series.sum() * 100, 2)
Age_df = pd.concat([Age_Series, Age_Percent], axis=1, sort=True)
Age_df.columns = ["Total Number", "Percentage"]
Age_df.head()

       Total Number  Percentage
<10              15        2.72
10-14           107       19.38
15-19           258       46.74
20-24            77       13.95
25-29            52        9.42

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [254]:
Ages = [10, 14, 19, 24, 29, 34, 39, 40, 1000]
Group_Names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data["Age Range"] = pd.cut(purchase_data.Age, Ages, labels= Group_Names)
Purchase_Count_Age = purchase_data["Age Range"].count()
Purchase_Count_Age


Average_Purchase_Age =  round(purchase_data.groupby("Age Range")["Price"].mean(), 2)
Average_Purchase_Age = '$' + Average_Purchase_Age.astype(str)
Total_Purchase_Age = round(purchase_data.groupby("Age Range")["Price"].sum(), 2)
Average_Purchase_Age = round(Total_Purchase_Age/ purchase_data.groupby('Age Range')['SN'].nunique(), 2)
Total_Purchase_Age = '$' + Total_Purchase_Age.astype(str)
Average_Purchase_Age= '$' + Average_Purchase_Age.astype(str)


Purchase_df_Age = pd.DataFrame({"Purchase Count": Purchase_Count_Age , "Average Purchase Price" :Average_Purchase_Age,"Total Purchase Value": Total_Purchase_Age})

Purchase_df_Age.head()

           Purchase Count Average Purchase Price Total Purchase Value
Age Range
<10                   748                   $3.4               $50.95
10-14                 748                  $3.86              $412.89
15-19                 748                  $4.32             $1114.06
20-24                 748                  $3.81               $293.0
25-29                 748                  $4.12               $214.0

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [255]:

Top_Spender = purchase_data.groupby("SN")["Price"].sum().nlargest(5)
Top_Average_Purchase = round(purchase_data.groupby("SN").Price.mean().loc[Top_Spender.index], 2)

Top_Non_Purchase = purchase_data.groupby("SN").Price.count().loc[Top_Spender.index]
Top_df = pd.concat([Top_Non_Purchase, Top_Average_Purchase, Top_Spender], axis=1)


Top_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
Top_df = Top_df.sort_values(by='Total Purchase Value', ascending=False)
Top_df.head().style

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [257]:
 
New_df = purchase_data[["Item ID", "Item Name", "Price"]]

New_df_group = New_df.groupby('Item ID')


ItemName = New_df[['Item ID', 'Item Name']]

ItemPrice = New_df[['Item ID', 'Price']]


ItemCounts = New_df_group.count()

ItemSums = New_df_group.sum()

ItemCountsBest = ItemCounts.sort_values('Item Name', ascending=False).head()

ItemCountsBest = ItemCountsBest.rename(columns={'Item Name':'Purchase Count'})

ItemCountsBest = ItemCountsBest.reset_index()

ItemCountsBest = ItemCountsBest[["Item ID", "Purchase Count"]]

ItemCountData = ItemCountsBest.merge(ItemName, left_on='Item ID', right_on='Item ID')

ItemCountData = ItemCountData.merge(ItemPrice, left_on='Item ID', right_on='Item ID')

ItemCountData = ItemCountData.merge(ItemSums, left_on='Item ID', right_on='Item ID')

ItemCountData = ItemCountData.drop_duplicates(keep='first')

ItemCountData = ItemCountData.reset_index()

ItemCountData = ItemCountData.rename(columns={'Price_x':'Item Price'})

ItemCountData = ItemCountData.rename(columns={'Price_y':'Total Purchase Value'})

ItemCountData = ItemCountData[['Item ID', 'Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]


ItemCountData

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,145,Fiery Glass Crusader,9,4.58,41.22
2,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
3,82,Nirvana,9,4.90,44.10
4,19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [259]:



New_df = purchase_data[["Item ID", "Item Name", "Price"]]

New_df_group = New_df.groupby('Item ID')


ItemName = New_df[['Item ID', 'Item Name']]

ItemPrice = New_df[['Item ID', 'Price']]


ItemCounts = New_df_group.count()

ItemSums = New_df_group.sum()

ItemSumsBest = ItemSums.sort_values('Price', ascending=False).head()


ItemSumsBest = ItemSumsBest.rename(columns={'Price':'Total Purchase Value'})

ItemSumsBest = ItemSumsBest.reset_index()

ItemSumsBest = ItemSumsBest[["Item ID", "Total Purchase Value"]]

ItemSumsBest = ItemSumsBest.merge(ItemName, left_on='Item ID', right_on='Item ID')

ItemSumsBest = ItemSumsBest.merge(ItemPrice, left_on='Item ID', right_on='Item ID')

ItemSumsBest = ItemSumsBest.merge(ItemCounts, left_on='Item ID', right_on='Item ID')

ItemSumData = ItemSumsBest.drop_duplicates(keep='first')

ItemSumData = ItemSumData.reset_index()

ItemSumData = ItemSumData.rename(columns={'Price_x':'Item Price'})

ItemSumData = ItemSumData.rename(columns={'Price_y':'Purchase Count'})

ItemSumData = ItemSumData.rename(columns={'Item Name_x':'Item Name'})

ItemSumData = ItemSumData[['Item ID', 'Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]


ItemSumData

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,82,Nirvana,9,4.90,44.10
2,145,Fiery Glass Crusader,9,4.58,41.22
3,92,Final Critic,8,4.88,39.04
4,103,Singed Scalpel,8,4.35,34.80

In [ ]:
#1st Observation: The Item that was most purchased at the lowest price and had the highest purchase value is the "Oathbreaker, Last Hope of the Breaking Storm"
#2nd Observation: The Gender that dominated purchases were Males.
#3rd Observation: The Least Age group that purchased games are 40 years of Age and above.